{% extends 'base.html' %}
{% block content %}
<hr>
<hr>
<div class="container mt-5 text-center" style="height:600px">
    <div class="card">
        <div class="card-body">
            <p>Vui lòng kiểm tra email của bạn để kích hoạt tài khoản. <br>Nếu bạn không thấy trong hòm thư vui lòng kiểm
                tra ở mục spam trong trường hợp gmail hiểu nhầm là thư rác</p>
            <a href="https://google.com/gmail" class="btn btn-primary font-weight-bold">Truy cập Gmail ngay</a>
        </div>
    </div>
</div>
{% endblock %}