{% extends 'base.html' %}
{% block content %}
<hr>
<hr>
<div class="container mt-5" style="height:600px">
    <div class="card">
        <div class="card-body">
            <p>Chào {{ user.username }}!</p>
            <p>Dưới đây là thông tin tài khoản của bạn:</p>
            <ul>
                <li>Email: {{ user.email }}</li>
                <li>Lần cuối cùng đăng nhập: {{ user.last_login }}</li>
            </ul>
            <p><a href="" class="btn btn-primary">Chỉnh sửa lại thông tin</a></p>
            <p><a href="{% url 'password-change' %}" class="btn btn-danger">Đổi mật khẩu</a></p>
        </div>
    </div>
</div>
{% endblock %}