{% extends 'base.html' %}
{% block content %}
<hr>
<hr>
<div class="container mt-5" style="height:600px">
    <div class="card">
        <div class="card-body text-center">
            <p>Vui lòng kiểm tra email. Chúng tôi sẽ gửi bạn một link để xác nhận lấy lấy mật khẩu. <br> Trường hợp bạn
                không tìm thấy ở hòm thư vui lòng kiểm tra thư rác (điều này có thể do bộ lọc gmail hiểu lầm là spam)</p>
            <p><a href="https://google.com/gmail" class="btn btn-primary">Truy cập gmail ngay</a></p>
        </div>
    </div>
</div>
{% endblock %}