{% extends 'base.html' %}
{% block title %}Nhiệt kế tài chính - Học đầu tư và giao dịch tài chính Online{% endblock %}
{% block description %}Học đầu tư và giao dịch tài chính online từ Minh Thắng, đăng nhập tài khoản bạn có thể học giao
dịch ngoại hối, forex, crypto bất cứ lúc nào và nơi đâu miễn là có internet{% endblock %}
{% block head %}
<link rel="canonical" href="http://127.0.0.1:8000/">
<!--openGarp Facebook-->
<meta property="og:title" content="Nhiệt kế tài chính - Học đầu tư và giao dịch tài chính Online">
<meta property="og:description" content="Học đầu tư và giao dịch tài chính online từ Minh Thắng, đăng nhập tài khoản bạn có thể học giao
dịch ngoại hối, forex, crypto bất cứ lúc nào và nơi đâu miễn là có internet">
<meta property="og:type" content="article">
<meta property="og:url" content="http://127.0.0.1:8000/">
<!--<meta property="og:image" content="http://127.0.0.1:8000/media/{{object.image}}">-->

<!--Twitter-->
<meta name="twitter:title" content="Nhiệt kế tài chính - Học đầu tư và giao dịch tài chính Online">
<meta name="twitter:description" content="Học đầu tư và giao dịch tài chính online từ Minh Thắng, đăng nhập tài khoản bạn có thể học giao
dịch ngoại hối, forex, crypto bất cứ lúc nào và nơi đâu miễn là có internet">
<!--<meta name="twitter:image" content="http://127.0.0.1:8000/media/{{object.image}}">-->
<meta name="twitter:card" content="summary">
{% endblock %}
{% block content %}
<!--Main layout-->
<main class="mt-5 pt-5">
    <div class="container">

        <!--Section: Jumbotron-->
        <section class="card wow fadeIn"
                 style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">

            <!-- Content -->
            <div class="card-body text-white text-center py-5 px-5 my-5">

                <h1 class="mb-4" style="font-size: 1.8rem">
                    <strong class="text-uppercase">Nhiệt kế tài chính - Học đầu tư và giao dịch tài chính Online</strong>
                </h1>
                <h3 style="font-size: 1.2rem">
                    <strong class="text-uppercase">Website học đầu tư và giao dịch ngoại hối, crypto</strong>
                </h3>
                <h4 class="mb-4" style="font-size:1rem">
                    <strong class="text-uppercase">Học Online nhanh chóng, hiệu quả, bất cứ lúc nào, mọi lúc, mọi nơi
                        chỉ cần đăng nhập tài khoản</strong>
                </h4>
                <a target="_blank" href="https://www.youtube.com/watch?v=51jN2Gt3eks&t=6s"
                   class="btn btn-outline-white btn-lg">Khóa Tradecoin VIP bạn sẽ nhận được gì ?
                    <i class="fas fa-graduation-cap ml-2"></i>
                </a>

            </div>
            <!-- Content -->
        </section>
        <!--Section: Jumbotron-->

        <hr class="my-5">

        <!--Section: Cards-->
        <section class="text-center">

            <!--Grid row-->
            <div class="row mb-4 wow fadeIn">
                {% for post in object_list %}
                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title" style="font-size:1.5rem">{{ post.title }}</h2>
                            <br>
                            <p><img src="/media/{{post.image }}" alt="" width="100%"></p>
                            <p class="card-text">{{ post.description }}</p>
                            <p><a href="" class="btn btn-primary btn-sm">Read more</a></p>
                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!--Grid column-->
                {% endfor %}


            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row mb-4 wow fadeIn">

                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4">

                    <!--Card-->
                    <div class="card">

                        <!--Card image-->
                        <div class="view overlay">
                            <img src="https://mdbootstrap.com/img/Marketing/mdb-press-pack/mdb-angular.jpg"
                                 class="card-img-top"
                                 alt="">
                            <a href="https://mdbootstrap.com/angular/" target="_blank">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">MDB with Angular</h4>
                            <!--Text-->
                            <p class="card-text">Built with Angular 5, Bootstrap 4 and TypeScript. CLI version
                                available. </p>
                            <a href="https://mdbootstrap.com/angular/" target="_blank" class="btn btn-primary btn-md">Free
                                download
                                <i class="fas fa-download ml-2"></i>
                            </a>
                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                    <!--Card-->
                    <div class="card">

                        <!--Card image-->
                        <div class="view overlay">
                            <img src="https://mdbootstrap.com/img/Marketing/mdb-press-pack/mdb-react.jpg"
                                 class="card-img-top" alt="">
                            <a href="https://mdbootstrap.com/react/" target="_blank">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">MDB with React</h4>
                            <!--Text-->
                            <p class="card-text">Based on the latest Bootstrap 4 and React 16. </p>
                            <a href="https://mdbootstrap.com/react/" target="_blank" class="btn btn-primary btn-md">Free
                                download
                                <i class="fas fa-download ml-2"></i>
                            </a>
                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                    <!--Card-->
                    <div class="card">

                        <!--Card image-->
                        <div class="view overlay">
                            <img src="https://mdbootstrap.com/img/Marketing/mdb-press-pack/mdb-vue.jpg"
                                 class="card-img-top" alt="">
                            <a href="https://mdbootstrap.com/vue/" target="_blank">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">MDB with Vue</h4>
                            <!--Text-->
                            <p class="card-text">Based on the latest Bootstrap 4 and Vue 2.5.7. </p>
                            <a href="https://mdbootstrap.com/vue/" target="_blank" class="btn btn-primary btn-md">Free
                                download
                                <i class="fas fa-download ml-2"></i>
                            </a>
                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

            <!--Pagination-->
            <nav class="d-flex justify-content-center wow fadeIn">
                <ul class="pagination pg-blue">

                    <!--Arrow left-->
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>

                    <li class="page-item active">
                        <a class="page-link" href="#">1
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">4</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">5</a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!--Pagination-->

        </section>
        <!--Section: Cards-->

    </div>
</main>
<!--Main layout-->
{% endblock %}